.form__button {
    width: 50%;
    height: 40px;
    font-size: 18px;
    border: 0;
    margin: 0;
    padding-bottom: 5px;
    cursor: pointer;
    transition: opacity .4s;
    color: white;
  }

  .form__button:hover {
    opacity: .5;
  }
  
  .form__button[type="submit"] {
    background-color: rgb(77, 75, 75);
  }

  .form__button[type="reset"] {
    background-color: #ea3a3a;
  }
  