.form__interval {
    display: grid;
    grid-template-columns: minmax(50%,80%) auto auto;
    grid-template-rows: auto;
    grid-template-areas: 'from p to';
    opacity: 0.8;
}

.form__interval_type_equal {
    grid-template-columns: 50% auto 48%;
}