.form__input-request {
    border: 0;
    width: 90%;
    height: 24px;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: 5px;
  }

  .form__bottom {
    border-bottom: 1px solid #bcbcc4;
  }