@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);

/* RESPONSE */
@import url(../blocks/response/response.css);

/* form */
@import url(../blocks/form/form.css);
@import url(../blocks/form/__heading/form__heading.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__buttons/form__buttons.css);
@import url(../blocks/form/__button/form__button.css);
@import url(../blocks/form/__inputs/form__inputs.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__select-label/form__select-label.css);
@import url(../blocks/form/__input-request/form__input-request.css);

/* table */
@import url(../blocks/table/table.css);
@import url(../blocks/table/__head/table__head.css);
@import url(../blocks/table/__value/_place-head/table__value_place-head.css);
@import url(../blocks/table/__values/table__values.css);
@import url(../blocks/table/__value/table__value.css);
