<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/pages/index.css">
    <title>OKN</title>
</head>
<body>
    <div class="page">
        <form class="request" action="/" method="post">
            <h2 class="form__heading">Задайте параметры</h2>                
            <div class="form__inputs">
                <div class="form__input">
                    <label for="request__input_1" class="form__label">
                        Апогей
                    </label>
                    <div class="form__interval interval_type_apogey">
                        <input name="apog" type="text" class="form__input-request input-request_type_from" id="request__input_1" placeholder="Задайте апогей"
                               value="{{ apog }}">
                        <p class="form__sign">-</p>
                        <input class="form__input-request input-request_type_to input-request_name_apogey" type="text" name="del_apog" placeholder="+-" value="{{ delapog }}">
                    </div>
                </div>
                <div class="form__input">
                    <label for="request__input_2" class="form__label">
                        Перигей
                    </label>
                    <div class="form__interval interval_type_perigey">
                        <input type="text" class="form__input-request input-request_type_from" name="perig" id="request__input_2" placeholder="Задайте перигей" value="{{ perig }}">
                        <p class="form__sign">-</p>
                        <input class="form__input-request input-request_type_to input-request_name_perigey" name="del_perig" type="text" placeholder="+-" value="{{ delperig }}">
                    </div>
                </div>
                <div class="form__input">
                    <label for="request__input_3" class="form__label">
                        Наклонение
                    </label>
                    <div class="form__interval interval_type_inclin">
                        <input type="text" class="form__input-request input-request_type_from" name="inclin" id="request__input_3" placeholder="Уточните наклонение" value="{{ inclin }}">
                        <p class="form__sign">-</p>
                        <input class="form__input-request input-request_type_to input-request_name_inclin" name="del_inclin" type="text" placeholder="+-" value="{{ delinclin }}">
                    </div>
                </div>
                <div class="form__input">
                    <label for="request__input_5" class="form__label">
                        Имя спутника
                    </label>
                    <div class="form__interval interval_type_inclin">
                        <input type="text" class="form__input-request input-request_type_from" name="satname" id="request__input_3" placeholder="Введите имя спутника" value="{{ satname }}">                       
                    </div>
                </div>
                <div class="form__input">
                    <label for="request__input_4" class="form__label" >
                        Страна
                    </label>
                    <select class="form__input-request" name="country" id="request__input_4" required>
                        <option class="form__select-label"> {{ country }}</option>
                        <option class="form__select-label"> Выберите страну</option>
                            {% for k in countries %}
                        <option class="form__select-label">{{ k }}</option>
                            {% endfor %}
                    </select>
                </div>
                <div class="form__input">
                    <label for="request__input_5" class="form__label">
                        Дата
                    </label>
                    <div class="form__interval interval_type_date">
                        <input type="date" class="form__input-request" name="date_r1" id="request__input_5"
                            placeholder="Выберите дату" value="{{ date_r1 }}">
                        <p class="form__sign">-</p>
                        <input type="date" class="form__input-request input-request_type_to input-request_name_date"
                               name="date_r2" id="request__input_6"
                            placeholder="до" value="{{ date_r2 }}">
                    </div>
                </div>
            </div>
            <fieldset class="form__buttons">
                <button type="submit" class="form__button send_button">Искать</button>
                <a href="/" type="button" class="form__button reset_button">Сброс</a>
            </fieldset>
            <div class="table">
                {% if dict is iterable %}
                <div class="table-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead class="table__head">
                            <tr class="table__values">
                                {% for k in dict %}
                                <th class="table__value_place-head"> {{k[0]}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                    </table>                        
                </div>

                <div class="table-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            {% for i in range(1, dict[0]|length) %}
                            <tr class="table__values">
                                {% for v in dict %}
                                <td class="table__value"> {{ v[i] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>                  
                
                
                {% endif %} 
            </div>
    </form>
    </div>
    <div class="popup">
        <div class="popup__container">
            
        </div>
    </div>
    
    <script src="./js/index.js"></script>
</body>
</html>